'<map-wrapper tabindex="0">'
    + '    <!-- Map -->'
    + '    <context-menu-layer #contextMenuLayer>'
        + '        <map [contextMenuLayer]="contextMenuLayer" [contextMenu]="contextMenu" [map]="mapMetaData" #mapComp>'
            + '        </map>'
        + '    </context-menu-layer>'
    + '    '
    + '    <!-- Control elements -->'
    + '    <ng-container *ngIf="controlsEnabled">'
        + '        <map-controls></map-controls>'
        + '        <coordinate-system></coordinate-system>'
        + '        <fullscreen-controls *ngIf="!fullscreenEnabled" (requestFullscreen)="requestFullscreen()"></fullscreen-controls>'
        + '    </ng-container>'
    + '</map-wrapper> ',